@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 26.25px;
  color: #727272;
}

h1,
h2,
h3 {
  font-weight: 500;
  color: #000000;
}

h1 {
  font-size: 48px;
  line-height: 60px;
}
@media (max-width: 1279px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-size: 32px;
  line-height: 38px;
}

h3 {
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
}

.btn {
  width: 225px;
  height: 65px;
  background-color: #34547A;
  color: #FFFFFF;
  line-height: 26px;
  letter-spacing: 0.1em;
  font-size: 16px;
}
.btn:hover {
  background-color: #1f395a;
  font-weight: 500;
  transition: 1s;
}

.text-block {
  width: 540px;
  text-align: center;
}
@media (max-width: 1279px) {
  .text-block {
    width: 322px;
  }
}
.text-block__head {
  margin-bottom: 50px;
}
@media (max-width: 1279px) {
  .text-block__head {
    margin-bottom: 34px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
  max-width: 1150px;
}

.header {
  background: #EEEFF1;
  width: 100%;
}
.header__content {
  display: flex;
  justify-content: space-between;
  margin: 57px auto;
  max-width: 1105px;
}
@media (max-width: 1279px) {
  .header__content {
    justify-content: flex-start;
    margin: 22px;
  }
}
.header__content .header__logo {
  background: none;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 42px;
}
@media (max-width: 1279px) {
  .header-menu {
    display: none;
  }
}
.header-menu__elem {
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.header-menu__elem:first-child {
  color: #34547A;
}
.header-menu__elem:first-child:visited {
  color: #1f395a;
}
.header-menu__elem:visited {
  color: #464646;
}
.header-menu__elem:hover {
  text-decoration: underline;
}

.main {
  background-color: #EEEFF1;
  padding: 83px 0 140px 0;
}
@media (max-width: 1279px) {
  .main {
    padding: 45px 0 95px;
  }
}
.main__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 131px;
}
@media (max-width: 1279px) {
  .main__content {
    flex-direction: column;
    gap: 50px;
  }
}
.main__content .main__text-block {
  width: 560px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: flex-start;
  padding: 0 0 0 14px;
}
@media (max-width: 1279px) {
  .main__content .main__text-block {
    width: 322px;
    text-align: center;
    align-items: center;
    gap: 44px;
  }
}

.about-me {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 119px 0 100px 0;
}
.about-me .text-block__head {
  margin-bottom: 42px;
}
@media (max-width: 1279px) {
  .about-me {
    padding: 91px 0 82px 0;
  }
}

.projects {
  background-color: #34547A;
  width: 100%;
  padding: 100px 0;
}
@media (max-width: 1279px) {
  .projects {
    padding: 75px 0;
  }
}
.projects__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 49px;
  flex-wrap: wrap;
}
@media (max-width: 1279px) {
  .projects__content {
    gap: 45px;
  }
}

.skills {
  width: 100%;
  padding: 101px 0;
  display: flex;
  justify-content: center;
}
@media (max-width: 1279px) {
  .skills {
    padding: 60px 0;
  }
}
.skills__content {
  display: flex;
  max-width: 1150px;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  .skills__content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.skills__content .skills__text-block {
  flex: 0 0 50%;
  text-align: left;
  align-self: center;
}
@media (max-width: 1279px) {
  .skills__content .skills__text-block {
    width: 100%;
    padding: 10%;
    text-align: center;
  }
}
.skills__content .skills__text-block .text-block__string {
  margin-bottom: 20px;
}
.skills__content__photo {
  flex: 0 0 50%;
  align-self: center;
}

.photo__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 555px;
  height: 450px;
}
@media (max-width: 1279px) {
  .photo__img {
    width: 100%;
    padding: 0 18px;
  }
}

.rectangles {
  position: relative;
  width: 445px;
  height: 4px;
  background-color: #C4C4C4;
  margin-bottom: 30px;
}
@media (max-width: 1279px) {
  .rectangles {
    width: 100%;
  }
}
.rectangles__blue {
  width: 78%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-color: #34547A;
}