@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 26.25px;
  color: #727272;
}

h1,
h2,
h3 {
  font-weight: 500;
  color: #000000;
}

h1 {
  font-size: 48px;
  line-height: 79px;
}

h2 {
  font-size: 32px;
  line-height: 38px;
}

h3 {
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
}

.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

[class*="__container"] {
  max-width: 1150px;
  max-height: 100%;
  margin: 0px auto;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}
