@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

textarea {
  resize: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 26.25px;
  color: #727272;
}

h1,
h2,
h3 {
  font-weight: 500;
  color: #000000;
}

h1 {
  font-size: 48px;
  line-height: 60px;
}
@media (max-width: 1279px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-size: 32px;
  line-height: 38px;
}

h3 {
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
}

.btn {
  width: 225px;
  height: 65px;
  background-color: #34547A;
  color: #FFFFFF;
  line-height: 26px;
  letter-spacing: 0.1em;
  font-size: 16px;
}
.btn:hover {
  background-color: #1f395a;
  font-weight: 500;
  transition: 1s;
}

.text-block {
  width: 540px;
  text-align: center;
}
@media (max-width: 1279px) {
  .text-block {
    width: 322px;
  }
}
.text-block__head {
  margin-bottom: 50px;
}
@media (max-width: 1279px) {
  .text-block__head {
    margin-bottom: 34px;
  }
}

[class*=overlay] {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #34547A;
  opacity: 0.3;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

[class*=icon-eye] {
  display: none;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: none;
  z-index: 2;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  max-width: 1150px;
}

.header {
  background: #EEEFF1;
  width: 100%;
}
.header__content {
  display: flex;
  justify-content: space-between;
  margin: 57px auto;
  max-width: 1105px;
}
@media (max-width: 1200px) {
  .header__content {
    justify-content: space-around;
  }
}
@media (max-width: 850px) {
  .header__content {
    justify-content: flex-start;
    margin: 22px;
  }
}
.header__content .header__logo {
  background: none;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 42px;
}
@media (max-width: 850px) {
  .header-menu {
    display: none;
  }
}
.header-menu__elem {
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.header-menu__elem:first-child {
  color: #34547A;
}
.header-menu__elem:first-child:visited {
  color: #1f395a;
}
.header-menu__elem:visited {
  color: #464646;
}
.header-menu__elem:hover {
  text-decoration: underline;
}

.main {
  background-color: #EEEFF1;
  padding: 83px 0 140px 0;
}
@media (max-width: 1000px) {
  .main {
    padding: 45px 0 95px;
  }
}
.main__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 131px;
}
@media (max-width: 1150px) {
  .main__content {
    gap: 50px;
  }
}
@media (max-width: 1000px) {
  .main__content {
    flex-direction: column;
  }
}
.main__content .main__text-block {
  width: 560px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: flex-start;
  padding: 0 0 0 14px;
}
@media (max-width: 1279px) {
  .main__content .main__text-block {
    width: 322px;
    text-align: center;
    align-items: center;
    gap: 44px;
    padding: 0;
  }
}

.main__screen-image {
  max-width: 100%;
}

.about-me {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 119px 0 100px 0;
}
.about-me .text-block__head {
  margin-bottom: 42px;
}
@media (max-width: 1279px) {
  .about-me {
    padding: 91px 0 82px 0;
  }
}

.projects {
  background-color: #34547A;
  width: 100%;
  padding: 100px 0;
}
@media (max-width: 1279px) {
  .projects {
    padding: 75px 0;
  }
}
.projects__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 49px;
  flex-wrap: wrap;
}
@media (max-width: 1279px) {
  .projects__content {
    gap: 45px;
  }
}
@media (max-width: 1100px) {
  .projects__content {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media (max-width: 340px) {
  .project-content__icon {
    display: none;
  }
}

.skills {
  width: 100%;
  padding: 101px 0;
  display: flex;
  justify-content: center;
}
@media (max-width: 1279px) {
  .skills {
    padding: 60px 0;
  }
}
@media (max-width: 520px) {
  .skills {
    padding: 0 0 60px 0;
  }
}
.skills__content {
  display: flex;
  max-width: 1150px;
  width: 100%;
  justify-content: space-between;
  height: 100%;
}
@media (max-width: 1279px) {
  .skills__content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.skills__content .skills__text-block {
  flex: 0 0 50%;
  text-align: left;
  align-self: center;
}
@media (max-width: 1279px) {
  .skills__content .skills__text-block {
    width: 100%;
    padding: 10%;
    text-align: center;
  }
}
.skills__content .skills__text-block .text-block__string {
  margin-bottom: 20px;
}
.skills__content__photo {
  flex: 0 0 50%;
  align-self: center;
}

.photo__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 555px;
  height: 450px;
}
@media (max-width: 1279px) {
  .photo__img {
    width: 100%;
    padding: 0 18px;
  }
}

.rectangle {
  position: relative;
  width: 445px;
  height: 4px;
  background-color: #C4C4C4;
  margin-bottom: 30px;
}
@media (max-width: 1279px) {
  .rectangle {
    width: 100%;
  }
}
.rectangle__blue {
  width: 78%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-color: #34547A;
}

.how-i-work {
  width: 100%;
  background-color: #EEEFF1;
  padding: 100px 0;
}
.how-i-work__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 57px;
}

.video {
  width: 1110px;
  height: 600px;
  position: relative;
}
.video:hover .video__overlay {
  display: block;
}
@media (max-width: 1279px) {
  .video {
    width: 100%;
    padding: 18px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.video__wrapper {
  position: relative;
}
.video__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.video__button {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: none;
  z-index: 2;
}
@media (max-width: 1279px) {
  .video__button .video__icon-play {
    height: 75px;
  }
}

.pictures {
  padding: 28px 0;
}
.pictures__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.pictures__first {
  order: 1;
}
.pictures__two {
  order: 2;
}
.pictures__three {
  order: 3;
}
@media (max-width: 600px) {
  .pictures__three {
    order: 4;
  }
}
.pictures__four {
  order: 4;
}
@media (max-width: 600px) {
  .pictures__four {
    order: 3;
  }
}
.pictures__five {
  order: 5;
}
@media (max-width: 600px) {
  .pictures__five {
    order: 6;
  }
}
.pictures__six {
  order: 6;
}
@media (max-width: 600px) {
  .pictures__six {
    order: 5;
  }
}
.pictures__seven {
  order: 7;
}
.pictures__eight {
  order: 8;
}

.elem {
  position: relative;
  flex: 0 0 25%;
}
@media (max-width: 600px) {
  .elem {
    flex: 0 0 50%;
  }
}
.elem:hover .elem__overlay,
.elem:hover .elem__icon-eye {
  display: block;
}
.elem__pic {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: -1;
}

.offer {
  padding: 100px 0;
  background-color: #EEEFF1;
}
.offer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offer__content .offer__text-block {
  margin-bottom: 65px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__from {
  display: flex;
  width: 540px;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 20px;
}
@media (max-width: 1279px) {
  .form__from {
    width: 100%;
    gap: 22px;
    flex-direction: column;
    justify-content: center;
  }
}
.form__name, .form__email {
  width: 255px;
  height: 50px;
  text-indent: 20px;
}
@media (max-width: 1279px) {
  .form__name, .form__email {
    width: 100%;
  }
}
.form__text {
  width: 540px;
  height: 175px;
  margin-bottom: 50px;
  text-indent: 20px;
  padding-top: 17px;
}
@media (max-width: 1279px) {
  .form__text {
    width: 100%;
    padding: 10px;
  }
}

.footer {
  width: 100%;
  height: 151px;
  background-color: #34547A;
  color: #FFFFFF;
}
@media (max-width: 1279px) {
  .footer {
    height: 210px;
  }
}
.footer__content {
  max-width: 1150px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1279px) {
  .footer__content {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
  }
}
.footer__content .footer__icons {
  display: flex;
  gap: 22px;
}

.strings__head {
  margin-bottom: 20px;
}