@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 26.25px;
  color: #727272;
}

h1,
h2,
h3 {
  font-weight: 500;
  color: #000000;
}

h1 {
  font-size: 48px;
  line-height: 60px;
}

h2 {
  font-size: 32px;
  line-height: 38px;
}

h3 {
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
}

.btn {
  width: 225px;
  height: 65px;
  background-color: #34547A;
  color: #FFFFFF;
  line-height: 26px;
  letter-spacing: 0.1em;
  font-size: 16px;
}

.btn:hover {
  background-color: #1f395a;
  font-weight: 500;
  -webkit-transition: 1s;
  transition: 1s;
}

.text-block {
  width: 540px;
  text-align: center;
}

@media (max-width: 1279px) {
  .text-block {
    width: 322px;
  }
}

.text-block__head {
  margin-bottom: 50px;
}

@media (max-width: 1279px) {
  .text-block__head {
    margin-bottom: 34px;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
}

.header {
  background: #EEEFF1;
  width: 100%;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 57px;
}

@media (max-width: 1279px) {
  .header__content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 22px;
  }
}

.header__content .header__logo {
  background: none;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 42px;
}

@media (max-width: 1279px) {
  .header-menu {
    display: none;
  }
}

.header-menu__elem {
  color: #000000;
  text-transform: uppercase;
}

.header-menu__elem:first-child {
  color: #34547A;
}

.header-menu__elem:first-child:visited {
  color: #1f395a;
}

.header-menu__elem:visited {
  color: #464646;
}

.header-menu__elem:hover {
  text-decoration: underline;
}

.main {
  background-color: #EEEFF1;
  padding: 83px 0 140px 0;
}

@media (max-width: 1279px) {
  .main {
    padding: 45px 0 95px;
  }
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 131px;
}

@media (max-width: 1279px) {
  .main__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
}

.main__content .main__text-block {
  width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1279px) {
  .main__content .main__text-block {
    width: 322px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 44px;
  }
}

.about-me {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 119px 0 100px 0;
}

.about-me .text-block__head {
  margin-bottom: 42px;
}

@media (max-width: 1279px) {
  .about-me {
    padding: 91px 0 82px 0;
  }
}
