@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 26.25px;
  color: #727272;
}

h1,
h2,
h3 {
  font-weight: 500;
  color: #000000;
}

h1 {
  font-size: 48px;
  line-height: 79px;
}

h2 {
  font-size: 32px;
  line-height: 38px;
}

h3 {
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
}

.header {
  position: fixed;
  background: none;
  width: 100%;
}
.header .header__content {
  display: flex;
  justify-content: space-around;
  margin: 57px;
}
.header .header__content .header__logo {
  background: none;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 42px;
}
.header-menu .header-menu__elem {
  color: #000000;
  text-transform: uppercase;
}
.header-menu .header-menu__elem:first-child {
  color: #34547A;
}
.header-menu .header-menu__elem:first-child:visited {
  color: #1f395a;
}
.header-menu .header-menu__elem:visited {
  color: #464646;
}
.header-menu .header-menu__elem:hover {
  text-decoration: underline;
}

@media (max-width: 1279px) {
  .header-menu {
    display: none;
  }
}