.btn{
	width: 225px;
	height: 65px;
	background-color: $blue;
	color: $white;
	line-height: 26px;
	letter-spacing: 0.1em;
	font-size: 16px;
	&:hover{
		background-color: $darkblue;
		font-weight: 500;
		transition: 1s;
	}
}