.footer {
	width: 100%;
	height: 151px;
	background-color: $blue;
	color: $white;

	@media (max-width: 1279px) {
		height: 210px;
	}

	&__content {
		max-width: 1150px;
		height: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 1279px) {
			flex-direction: column;
			justify-content: center;
			text-align: center;
			gap: 30px;
		}


		.footer__icons {
			display: flex;
			gap: 22px;
		}
	}
}

.strings {
	&__head {
		margin-bottom: 20px;
	}
}