.header{
background: $silver;
width: 100%;
	&__content{
		display: flex;
    justify-content: space-around;
    margin: 57px;
	 @media (max-width: 1279px){
		justify-content: flex-start;
		margin: 22px;
	}
    .header__logo{
      background: none;
    }
}
}
.header-menu{
  display: flex;
  align-items: center;
  gap: 42px;
  @media (max-width: 1279px){
	  display: none;
  }
  &__elem{
    color: $black;
    text-transform: uppercase;
    &:first-child{
      color: $blue;
      &:visited{
        color: $darkblue;
      }
    }
    &:visited{
      color: $darkgrey;
    }
    &:hover{
      text-decoration: underline;
    }
  }
}
