[class*=overlay] {
	display: none;
	width: 100%;
	height: 100%;
	background-color: $blue;
	opacity: 0.3;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

[class*=icon-eye] {
	display: none;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: none;
	z-index: 2;
}