.pictures {
  padding: 28px 0;

  &__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__first {
    order: 1;
  }

  &__two {
    order: 2;
  }

  &__three {
    order: 3;

    @media(max-width: 600px) {
      order: 4;
    }
  }

  &__four {
    order: 4;

    @media(max-width: 600px) {
      order: 3;
    }
  }

  &__five {
    order: 5;

    @media(max-width: 600px) {
      order: 6;
    }
  }

  &__six {
    order: 6;

    @media(max-width: 600px) {
      order: 5;
    }
  }

  &__seven {
    order: 7;
  }

  &__eight {
    order: 8;
  }
}

.elem {
  position: relative;
  flex: 0 0 25%;

  @media(max-width: 600px) {
    flex: 0 0 50%;
  }

  &:hover {

    .elem__overlay,
    .elem__icon-eye {
      display: block;
    }
  }

  &__pic {
    width: 100%;
    object-fit: contain;
    z-index: -1;
  }
}