.text-block {
	width: 540px;
	text-align: center;

	@media (max-width: 1279px) {
		width: 322px;
	}

	&__head {
		margin-bottom: 50px;

		@media (max-width: 1279px) {
			margin-bottom: 34px;
		}
	}

}