@import "nullstyle";
@import "colors";
@import "fonts";
@import "header";

[class*="__container"] {
	max-width: 1150px;
	max-height: 100%;
	margin: 0px auto;
}
.wrapper {
	overflow: hidden;
	min-height: 100%;
}
