@import "nullstyle";
@import "colors";
@import "fonts";
@import "btn";
@import "text-block";

.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100%;
	min-width: 100%;
}

@import "header";
@import "main";
@import "about-me";
@import "projects";