@import "nullstyle";
@import "colors";
@import "fonts";
@import "btn";
@import "text-block";
@import "overlay";

.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100%;
	min-width: 100%;
	max-width: 1150px;
}

@import "header";
@import "main";
@import "about-me";
@import "projects";
@import "skills";
@import "how-i-work";
@import "pictures";
@import "offer";
@import "footer";